@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
    font-family: "akhand", sans-serif;
    font-style: normal;
}

body {
    padding-top: 5vh;
    padding-left: 3%;
    padding-right: 3%;
    font-family: "akhand", sans-serif ;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    opacity:0;
    animation: fadeInUp 1s ease forwards;
}

.app-container {
    position: relative;
    overflow: hidden;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.bottom-sheet-content {
  --background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: auto;
  height: 50vh; /* Juster høyden etter behov */
}